.messages {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: scroll;
}

.messages :first-child {
    margin-top: auto;
}

.messages__date {
    max-width: 150px;
    margin: 30px auto;
    text-align:  center;
    font-size: 12px;
}

.messages__item {
    max-width: 400px;
    background-color: $white-transparent-08;
    padding: 20px;
    margin: 30px 20px;
    border-top-left-radius: 30;
    border-top-right-radius: 30;
    border-bottom-right-radius: 30;
}


.item__text {
    margin: 0;
    min-height: 25px;
}

.own {
    border-top-left-radius: 30;
    border-top-right-radius: 30;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 30;
    float: right;
}

.item__time {
    float: right;
    font-size: 10px;
}













