<div class="page">
	<div class="form">
		{{>title value=title}}
		{{>title value='¯\_(ツ)_/¯'}}
		<div class="error__button-wrapper">
			{{>buttonMain title='Back' id='error_back'}}
		</div>
	</div>
</div>




