
<div class="message-input">
	<button class="message-input__button_attach"></button>
	<input class="message-input__input" placeholder="Message" name="message">
	<button class="message-input__button_send"> ➤ </button>
</div>