<div class="page">
	<div class="form">
		{{>title value='SIGN IN'}}
		<form name="sign-in">
			{{> input placeholder='Login' name='login' }}
			{{> input placeholder='Password' name='password' }}
			{{> buttonMain title='Sign In' id='sign_in'}}
		</form>
		{{> textWithLink text='Don’t Have An Account? ' linkText='Sign In' linkRef='#'}}
	</div>
</div>






