<div class="chat-menu__info-wrapper">
    <div class="info__avatar"></div>
    <h2 class="info__name">
    {{#each name}}
        {{{first_name}}}
    {{/each}}
    </h2>
</div>
{{{button}}}
