<div>
	{{> signIn }}
	{{> signUp }}
	{{> errorPage title='404 PAGE NOT FOUND' }}
	{{> errorPage  title='500 SOTHTING WENT WRONG'}}
	{{>chat activeChat='112132'}}
	{{>chat mode='search' activeChat='112132'}}
	{{>chat activeChat=''}}
	{{> chatWithPopup }}
	{{> profile page='info'}}
	{{> profile page='changePassword'}}
	{{> profile page='changeInfo'}}
	{{> profileWithPopup}}
</div>
