.avatar_lg {
	position: absolute;
	border-radius: 50;
	border: none;
	background-color: transparent;
	width: 180px;
	height: 180px;
	background-image: url("../../static/avatar.svg");
	margin: -90px 210px;
}

.avatar_sm {
	background-color: $grey-light;
	height: 47px;
	width: 47px;
	border-radius: 50%;
	margin: 12px 0;
}
